* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    font-size: 62.5%;
}

body {
    background: url('./img.png')no-repeat center;
    background-size: cover;

    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;
}

body, button, input {
    font-family: 'DM Sans', sans-serif;
}

.hide {
    display: none;
}

button {
    color: #FFFFFF;
    font-weight: normal;
    background: #53296f;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

    transition: background .3s;
}

button:hover {
    background: #46b17f;
}

main {
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    padding: 4rem 6rem 6rem;

    width: min(30.8rem, 90%);

    text-align: center;
}
/* screen1 */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

h1, input {
   color: #53296f; 
}

p {
    opacity: .8rem;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;

}

input, button {
    border: none;
    padding: 1.6rem;
}

input {
    color: #34355B;
    width: 4rem;
    background: #d6e2ef;
    border-radius: .4rem 0 0 .4rem;
}

/* screen2*/
h2 {
    font-size: 2.4rem;
    font-weight: normal;

    margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: .4rem;
}