* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;

    background: #E5E5E5;

}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 436px;
  
    left: 0;
    top: 0;
    z-index: -1;
    background: #535971;
    }


h1 {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;

    margin-bottom: 18px;
    position: absolute;
    width: 163px;
    height: 60px;
    left: 345px;
    top: 138px;
}

p {
    font-size: 20px;
    line-height: 30px;

    position: absolute;
    width: 417px;
    height: 46px;
    left: 345px;
    top: 216px;

    color: #FFFFFF;
}

form {
    position: absolute;
    width: 750px;
    height: 1084%;
    left: 345px;
    top: 320px;

    background: #EFEFEF;
    border-radius: 20px 20px 0 0;

    padding: 64px;
}

fieldset {
    border: none;
}

legend {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    color: #535971;

    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

.input-wapper {
    display: flex;
    flex-direction: column;
}

.input-wapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;

    margin-bottom: 8px;
}

.input-wapper input {
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    Width: 300px;
    Height: 56px;

    background: #FAFAFC;
}

.col-2 {
    display: flex;
    gap: 20px;
}

