body {
    font-family: 'JetBrains Mono', monospace;
    background: #2C2B3D;
    margin: 0;
    min-height: 100vh;
}

.content {
    max-width: 1092px;
    margin: 71px auto 24px; 
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

ul {
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
   
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

a:hover {
    color: #00BFA6;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 101px auto 157px;
    gap: 82px;
}

section {
    text-align: center;

}

h1 {
    font-size: 36px;
    color: #FFFFFF;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #C2C2C2;

}

span {
    color: #00BFA6;
}

footer {
    color: #FFFFFF;
    text-align: center;

    width: 568px;
    margin: 0 auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 28px;

    border-top: 1px solid #00BFA6;

    padding-top: 27px;
}

#padlock {
    bottom: 20px;
    left: 20px;
    position: fixed;
}