* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root { 
    font-size: 62.5%;

    --hue: 217;
    --color-white: hsl(0, 0%, 100%);
    --color-gray-100: hsl(0, 0%, 96%);
    --color-gray-300: hsl(var(--hue), 60%, 58%);
    --color-gray-500: hsl(0, 0%, 24%);
    --color-gray-900: hsl(var(--hue), 60%, 20%);
  }

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-white);
  color: var(--color-gray-900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 700;
}

header form {
  flex: 1;
}

main {
  background-color: var(--color-gray-100);
  overflow-y: scroll;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-gray-300);
}

ul li.active {
  color: var(--color-gray-900);
}

.inputWrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.inputWrapper input {
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  padding: 1.6rem;

  background-color: var(--color-gray-100);
  border: 0;
  border-radius: 0.6rem;
}

.inputWrapper input::placeholder {
  opacity: 0.56;
  color: var(--color-gray-500);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

/*galeria*/

main h1 {
  font-size: 2.4rem;
  padding-top: 1.6rem;
}

.gallery {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.item {
  background-color: var(--color-white);
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}

.item img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;

  transition: all 1s ease-out;

  display: block;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.2);
}

.details {
  padding: 2.2rem;
  background-color: var(--color-white);
  z-index: 1;
  position: relative;
}

.details h2 {
  font-size: 1.3rem;
  transition: 1s;
}

span:hover, 
.details h2:hover {
  color: var(--color-white);

  transform: scale(1.1);
} 

.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: 0.6rem;
  background-color: var(--color-gray-100);
  border-radius: 0.4rem;

  line-height: 0;
  font-size: 1.1rem;
}

footer p {
  text-align: center;
  font-weight: 600;

  padding: 1.6rem;
}

header {
  --startY: -100%;
  animation: move 2.3s;
}

footer {
  --startY: 100%;
  animation: move 2.3s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
    --delay: 0.1s;
    animation: appear 0.7s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}
